body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

.container {
    width: 90%; /* Ensure the container takes up the full width of the viewport */
}

h1 {
    text-align: center;
    background-color: #053B50;
    color: #fff;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #FFFFDD;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 13px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s ease;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #053B50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition to background-color and color */
}

button:hover {
    background-color: #555;
    color: #fff;
}

button:focus {
    outline: none;
}

input[type="text"] {
    padding: 5px;
    font-size: 14px;
}

/* Change list item (shoes) styles on hover */
li:hover {
    transform: scale(1.05); /* Adjust the scale factor */
    background-color: #ddd;
    border-color: #555;
}
a {
    text-decoration: none;
}
